#root {
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 100%;
}
.content {
  margin: 0;
  padding: 0;

}

.header {
  position: relative;
  padding-top: 15px;
}
.header h1 {
  font-size: 20px;
  font-weight: normal;
}
.user {
  position: absolute;
  top:5px;
  right: 15px;
}
h1, h2 {
  margin-top: 0;
  margin-left: 15px;
  text-decoration: none;
}

.patient,
.patient-details,
.provider,
.card {
  padding: 15px;
  background-color: #FFF;
  border: #999 solid 2px;
  border-radius: 15px;
  margin: 15px
}

.patient__head {
  display: flex;
  flex-direction: row;
}

.patient__image {
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #ccc;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.patient__image img {
  display: block;
  width: 170%;
  height: auto;
  position: relative;
  left: -35%;
  top:-25%
}


.appointment-list {}
.appointment__headline {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 16px;
}
.appointment__options {
  line-height: 16px;
  position: relative;
  top:-4px;
  display: block;
}
@media screen and (min-width:640px) {
  .appointment {
    display: flex;
    margin-bottom: 15px;
  }
  .appointment__headline {
    min-width: 450px;
  }

  .appointment__options {
    width:180px
  }
}
.appointment__options .btn {
  margin-bottom: 8px;
}

.patient__image--large {
  width: 200px;
  height: 200px;
}

.provider__image {
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}
.provider__image img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background-color: #0000FF;
  text-decoration: none;
  padding: 12px 15px;
  margin-right: 15px;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
}
.btn:hover {
  text-decoration: underline;
  background-color: #0303cc;
}
.content > .btn {
  margin-left: 15px;
}

.btn.sm {
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 4px;
  margin-right: 8px;
}


.appointment-search {
  padding:15px;
  background-color: #FFF;
}

.availability__date {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.availability__slots .slot {
  display: inline-block;
  background-color: #ccc;
  padding: 8px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.availability__slots .slot:hover {
  background-color: #999;
}

.error {
  padding: 15px;
  margin-left: 15px;
  border: #FF0000 solid 2px;
  background-color: #FFFFFF;
  color: #FF0000;
  max-width: 400px;
}

.patient-details h2 {
  margin-left: 0;
}
.patient-tabs {
  max-width: 500px;
  min-height: 250px;
}
.patient-tabs__head {
  display: flex;
  padding: 0;
  border-bottom: #CCC solid 1px;
  justify-content: center
}
.patient-tabs__tab {
  list-style: none;
  position: relative;
  border-bottom: #CCC solid 1px;
}
.patient-tabs__tab::before {
  content: '';
  position: absolute;
  border:  #FFF solid 1px;
  left:0;
  right:0;
  bottom: -1px;
}
.patient-tabs__tab--active {
  font-weight: bold;
  border: #CCC solid 1px;
  border-bottom:0;
}
.patient-tabs__head a {
  display: inline-block;
  padding:10px 15px;
  text-decoration: none;  color: #000;
}
.patient-tabs__head a:hover {
  text-decoration: underline;
}
.patient-tabs__head a.active {
  background-color: #CCC;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
}

td, th {
  padding: 10px;
  border-color: #ccc;
}