<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flatbush Pediatrics</title>
	</head>
	<body>
		<section class="">
			<header>
				<h1>Flatbush Pediatrics</h1>
			</header>
			<section>

				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
	</body>
</html>
